---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex">
        <div class="w-52 h-52 bg-accent"></div>
        <div class="w-52 h-52 bg-accent-soft"></div>
        <div class="w-52 h-52 bg-primary"></div>
        <div class="w-52 h-52 bg-background"></div>
        <div class="w-52 h-52 bg-text"></div>
    </div>
</Layout>
