---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const { title = "Jose Richiez" } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Portfolio of Jose Richiez - Software Engineer."
        />
        <meta name="robots" content="index, follow" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://richiezrijo.com/" />
        <meta property="og:title" content="Jose Richiez" />
        <meta
            property="og:description"
            content="Software Engineer building high-performance system tools and modern web experiences. "
        />
        <meta property="og:image" content="/og-image.png" />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://richiezrijo.com/" />
        <meta property="twitter:title" content="Jose Richiez" />
        <meta
            property="twitter:description"
            content="Software Engineer building high-performance system tools and modern web experiences."
        />
        <meta property="twitter:image" content="/og-image.png" />
        <title>{title}</title>
        <script is:inline>
            const theme = (() => {
                const saved = localStorage.getItem("theme");
                if (saved) return saved;

                return null;
            })();

            const root = document.documentElement;

            if (theme === "dark") {
                root.classList.add("dark");
            } else if (theme === "light") {
                root.classList.add("light");
            }
        </script>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
